@model IEnumerable<LeagueServiceModel>

@{
    ViewBag.Title = "Моите лиги";
    ViewBag.AllowLeagueEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any leagues yet!</h2>
}

 <partial name="_LeaguesPartial" model="@Model" />