@{
    ViewData["Title"] = "Home Page of area manager";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Manager area</h1>
    <h2>YOU ARE AN MANAGER</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
