@{
    ViewData["Title"] = "За Нас";
}


    
@*<div class="col-md-6 offset-3">*@


@*</div>
<br />*@


<div class="col-md-6 offset-3">

    <td><h3></h3></td>
              <h4 class="list-group-item"> My Footbal Ви предоставя информация от света на футбола, такива, каквито са. Нашият екип от отлични журналисти работи денонощно, за да не пропуснете изявите на любимите си спортисти. 

Нашата цел е да предоставяме интересна, актуална и достоверна информация, включваща широк спектър от Футболни теми. </h4>
