@{
    ViewData["Title"] = "Екип";
}



<div class="col-md-6 offset-3">

    <img src="~/img/avatar5.png" width="200" height="200>

"></h2>

    <td><h3></h3></td>
              <h4 class="list-group-item">Ивелин Цончев - редактор</h4>

                  </div>
              <div class="col-md-6 offset-3">

    <img src="~/img/avatar3.png" width="200" height="200>

"></h2>

    <td><h3></h3></td>
              <h4 class="list-group-item">Вяра Енева - пом. редактор</h4>

              </div>
              <div class="col-md-6 offset-3">

    <img src="~/img/avatar4.png" width="200" height="200>

"></h2>

    <td><h3></h3></td>
              <h4 class="list-group-item">Георги Михов</h4>

              </div>