@model IEnumerable<TeamServiceModel>

@{
    ViewBag.Title = "Моите отбори";
    ViewBag.AllowTeamEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">Все още нямате Отбори!</h2>
}

 <partial name="_TeamsPartial" model="@Model" />