@model CityDetailsServiceModel

@{
    ViewData["Title"] = "Град";
}


<div class="col-md-6 offset-3">

    <img src="~/img/@Model.Image" width="300" height="200>

"></h2>
    </div>
<br />


<div class="col-md-6 offset-3">

    <td><h3></h3>Град:</td>
              <h2 class="list-group-item"> @Model.Name</h2>
    <td><h3></h3>Пощенски код:</td>
                <h2 class="list-group-item"> @Model.PostCode</h2>
    <td><h3></h3>Описание:</td>
                <h2 class="list-group-item"> @Model.Description</h2>
</div>

