@model IEnumerable<CityServiceModel>

@{
    ViewBag.Title = "Моите градове";
    ViewBag.AllowCityEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">Все още нямате градове!</h2>
}

 <partial name="_CitiesPartial" model="@Model" />